<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/header') %>
        <title> New Book </title>
    </head>
    <body style="background-color:magenta">
        <%- include ('partials/navigation') %>
        <div class="container p-4">
            <h1 style="text-align: center"> Page not found </h1>
        </div>
    </body>
</html>